{% extends './template.html' %}
{% block title %}
author
{% endblock %}
           

{% load static %}
{% block header %}
        <header>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class='logo'>
                            <h1>Alpha Tech Academy</h1>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-5">
                        <div class="header-nav">
                            <ul class="header-nav__list list-unstyled">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/blog">Blog</a>
                                </li>
                                <li>
                                    <a href="/mentor">Mentor</a>
                                </li>
                                <li>
                                    <a href="/mentee">Mentee</a>
                                </li>
                                <li>
                                    <a class="active" href="/author">Author</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}


{% block isi %}
        <section>
            <div class="container">
                <div class="group_body row align-items-center text-start">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 align-items-center">
                        <img class="image_author" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQlR82U-SItjFCcJl8Cd9nhYGB0JeyLBqTGNapronCtjwxFfVym" alt="">
                        <h2 class= "judul">aamfatur</h2>
                        <p class ="author_quote">
                            <strong>Please Write your Summary</strong>
                            Manusia pencari ilmu duniawi dan surgawi dan juga guru bimbel yang memiliki hobi musik indie, namun tidak suka kopi dan senja-senja t*i a****g.
                            Tidak lupa pula penggemar pangeran biru dari tanah pasundan.
                        </p>
                        <table class="author_table">
                            <tr>
                                <th>Alamat</th>
                                <td>: Tidar, Malang</td>
                            </tr>
                            <tr>
                                <th>Telephone</th>
                                <td>: 0858 6363 2690</td>
                            </tr>
                            <tr>
                                <th>Education</th>
                                <td>: Hanya lulusan sekolah menengah ketinggian</td>
                            </tr>
                            <tr>
                                <th>Profession</th>
                                <td>: Pencari ilmu surgawi</td>
                            </tr>
                            <tr>
                                <th>Nationality</th>
                                <td>: surga di pegunungan Himalaya</td>
                            </tr>
                            <tr>
                                <th>Company</th>
                                <td>: Self employee</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>: faturachman@alterra.id</td>
                            </tr>
                            <tr>
                                <th>Adress</td>
                                <td>: Malang bos</td>
                            </tr>
                        </table>
                        <iframe class= "author_maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15805.004707385024!2d112.60789138273314!3d-7.9729725155740425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa77fa961a7c4e4b7!2sSepulsa%20Lodge%20Malang!5e0!3m2!1sen!2sid!4v1575982896153!5m2!1sen!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section>
{% endblock %}